
<div id="contact_bg">
	<div class="contact_card">
		<p class="kaufee_email"><a class="k_email" href="mailto:freshkaufee@gmail.com">freshkaufee@gmail.com</a></p>
		<p class="kaufee_address">Dallas | Texas | U.S.A</p>
	</div>
	
</div>
