<div style="margin-top:50px;" class="container">
   <div class="row">
	  <div class="span2"><p class="shoppe_header">the boldest, most debonaire batch yet... <p class="shoppe_body">Batch Three was brewed with style and simplicity in mind. Gathering influence from the british gentlemen and iron ladies of old Britain, I wanted to empower women and encourage their right to speak as well as issue a reminder to us men that respect is earned not given. Now then, go forth and govern yourselves accordingly. — Joonbug.</p>
	<div class="shoppe_divider"></div>

  <!-- Filter 
       <p class="shoppe_tag">Shop However You want</p>
 <ul class="breadcrumb_shoppe">
       	  <li class="shoppe_search"><a class="shoppe_search" href="#" data-filter="size">Size</a> |</li>
       	  <li class="shoppe_search"><a class="shoppe_search" href="#" data-filter="color">Color</a> |</li>
       	  <li class="shoppe_search"><a class="shoppe_search" href="#" data-filter="style">Style</a></li>
       	</ul>
        </div> -->

</div>
<div id="shoppe_carousel" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="/images/rob1.png" alt="" />
    </div>
    <div class="item">
      <img src="/images/rob2.png" alt="" />
    </div>
    <div class="item">
      <img src="/images/rob3.png" alt="" />
    </div>
    <div class="item">
      <img src="/images/rob4.png" alt="" />
      <div class="item">
      <img src="/images/rob5.png" alt="" />
    </div>
    </div>
  </div>
  <!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#shoppe_carousel" data-slide="prev"><</a>
    <a class="carousel-control right" href="#shoppe_carousel" data-slide="next">></a>
</div>
</div>
</div>
<!-- END Carousel -->

<!-- Shoppe Products -->

<div id="shoppe_content">

    <ul class="products_list">

   <li class="li_products">
      <a href="#myModal" data-toggle="modal"><span class="roll"><p class="product_price">$32</p></span><img src="/images/batch_joon.png" alt="" /></a></li>
   <li class="li_products">
      <a href="#myModal1" data-toggle="modal"><span class="roll"><p class="product_price">$52</p></span><img src="/images/batch_3-1.png" alt="" /></a></li>
   <li class="li_products">
     <a href="#myModal2" data-toggle="modal"><span class="roll"><p class="product_price">$52</p></span><img src="/images/rob_batch.png" alt="" /></a></li>
  <li class="li_products">
     <a  href="#myModal3" data-toggle="modal"><span class="roll"><p class="product_price">$32</p></span> <img src="/images/batch_3-2.png" alt="" /></a></li>
     <li class="li_products">
      <a href="#myModal8" data-toggle="modal"><span class="roll"><p class="product_price">$32</p></span><img src="/images/batch_mustard.png" alt="" /></a></li>
  <li class="li_prodcuts">
      <a  href="#myModal4" data-toggle="modal"><span class="roll"><p class="product_price_cents">$24.99</p></span><img src="/images/bean_boy_batch2.png" alt="" /></a></li>
  <li class="li_products">
      <a  href="#myModal5" data-toggle="modal"><span class="roll"><p class="product_price_cents">$26.50</p></span><img src="/images/gordon_white_batch2.png" alt="" /></li>
  <li class="li_products">
      <a  href="#myModal6" data-toggle="modal"><span class="roll"><p class="product_price_cents">$26.50</p></span><img src="/images/gordon_grey_batch2.png" alt="" /></li>
  <li class="li_products">
      <a href="#myModal7" data-toggle="modal"><span class="roll"><p class="product_price_cents">$24.99</p></span><img src="/images/logo_bean_batch2.png" alt="" /></a></li>
</ul>
</div>

<p class="scrollview">- Scroll to view more -</p>
<!-- END Shoppe Products -->

<!-- Button to trigger modal -->
 
<!-- Modal -->
<div class="simpleCart_shelfItem">
<span type="hidden" class="item_price">$32</span> 
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">

<div id="product_content">
  <ul class="modal-content-list">
    <li><img src="/images/joon_sub1.png" alt="" /></li>
      <li><img src="/images/joon_sub2.png" alt="" /></li>
        <li><img src="/images/joon_sub3.png" alt="" /></li>
         </ul>

<div class="modal-content-main">
  <img src="/images/joon_main.png" alt=""/>
    </div>
<div class="product_description">

  <li class="product_listing"><p style="font-size:11pt;" class="item_name">Sir Flufffkins - <p class="shirt_style">seafoam</p></a> <p class="product_body">Sir Leonard Fluffkins III is a cat of extraordinary taste with bold style; he dabbles in only the finest of things. Printed on the soft 2001 American Apparel tee.</p></li>

 <li class="product_listing"><p class="product_title">Details <p class="product_body_details">Hand-Drawn<br>Hand-Crafted<br>Made in the USA</br>100% cotton</p></li>

 <li class="product_listing"><p class="product_title_social">Social<p class="product_body_social"><img src="/images/social.png" width="100"><br><img src="/images/materials.png" width="100"></p></li>

<li class="product_listing"><p class="product_title"><img class="roast_title" src="/images/roast.png" width="80"></p></li>
<img class="arrow_caret"src="/images/caret.png" width="20">
<div class="select-wrapper">
      <select class="item_size">
          <option value="Mild"> Mild </option>
          <option value="Medium"> Medium </option>
          <option value="Extra Bold"> Extra Bold </option>
      </select>
      
  </div>
</div>
  <p class="size_check">- Check your size first -</p>
<a class="item_add" href="javascript:;"  data-dismiss="modal" ><img class="cart_add" src="/images/cart_add.png" width="120"></a>
</div>

    </div>
  </div>
  </div>

<!-- MODAL 2  -->

<div class="simpleCart_shelfItem">
<span class="item_price">$52</span>
<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">

<div id="product_content">
  <ul class="modal-content-list">
    <li><img src="/images/mia_sub1.png" alt="" /></li>
      <li><img src="/images/mia_sub2.png" alt="" /></li>
        <li><img src="/images/mia_sub3.png" alt="" /></li>
         </ul>

<div class="modal-content-main">
  <img src="/images/mia_main.png" alt=""/>
    </div>
<div class="product_description">

  <li class="product_listing"><p class="item_name">Lady Sweater</a> <p class="product_body">A light yet comfy sweater for the lady of the evening, keep it classy. These garments are made from scratch and pre-laundered for extra comfort. Fits snug. </p></li>


 <li class="product_listing"><p class="product_title">Details <p class="product_body_details">Hand-Drawn<br>Hand-Crafted<br>Made in the USA</br>100% cotton</p></li>

 <li class="product_listing"><p class="product_title_social">Social<p class="product_body_social"><img src="/images/social.png" width="100"><br><img src="/images/materials.png" width="100"></p></li>

<li class="product_listing"><p class="product_title"><img class="roast_title" src="/images/roast.png" width="80"></p></li>
<img class="arrow_caret"src="/images/caret.png" width="15">
<div class="select-wrapper">
      <select class="item_size">
          <option value="Mild"> Mild </option>
          <option value="Medium"> Medium </option>
          <option value="Extra Bold"> Extra Bold </option>
      </select>
      
  </div>
</div>
  <p class="size_check">- Check your size first -</p>
<a class="item_add" href="javascript:;" data-dismiss="modal" ><img class="cart_add" src="/images/cart_add.png" width="120"></a>
</div>
   </div>
      </div>
          </div>
<!-- MODAL 3  -->

<div class="simpleCart_shelfItem">
<span class="item_price">$52</span>
<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">

<div id="product_content">
  <ul class="modal-content-list">
    <li><img src="/images/rob_sub1.png" alt="" /></li>
      <li><img src="/images/rob_sub2.png" alt="" /></li>
        <li><img src="/images/rob_sub3.png" alt="" /></li>
         </ul>

<div class="modal-content-main">
  <img src="/images/rob_main.png" alt=""/>
    </div>
<div class="product_description">

  <li class="product_listing"><p class="item_name">Unisex Sweater</a> <p class="product_body">A timeless sweater for him or her that is perfect for savvy shindigs. These garments are made from scratch and pre-laundered for extra comfort. Fits snug. </p></li>


 <li class="product_listing"><p class="product_title">Details <p class="product_body_details">Hand-Drawn<br>Hand-Crafted<br>Made in the USA</br>100% cotton</p></li>

 <li class="product_listing"><p class="product_title_social">Social<p class="product_body_social"><img src="/images/social.png" width="100"><br><img src="/images/materials.png" width="100"></p></li>

<li class="product_listing"><p class="product_title"><img class="roast_title" src="/images/roast.png" width="80"></p></li>
<img class="arrow_caret"src="/images/caret.png" width="20">
<div class="select-wrapper">
      <select class="item_size">
          <option value="Mild"> Mild </option>
          <option value="Medium"> Medium </option>
          <option value="Extra Bold"> Extra Bold </option>
      </select>
      
  </div>
</div>
  <p class="size_check">- Check your size first -</p>
<a class="item_add" href="javascript:;" data-dismiss="modal" ><img class="cart_add" src="/images/cart_add.png" width="120"></a>
</div>
   </div>
      </div>
          </div>

<!-- MODAL 4  -->

<div class="simpleCart_shelfItem">
<span class="item_price">$32</span>
<div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">

<div id="product_content">
  <ul class="modal-content-list">
    <li><img src="/images/jahareh_sub1.png" alt="" /></li>
      <li><img src="/images/jahareh_sub2.png" alt="" /></li>
        <li><img src="/images/jahareh_sub3.png" alt="" /></li>
         </ul>

<div class="modal-content-main">
  <img src="/images/jahareh_main.png" alt=""/>
    </div>
<div class="product_description">

  <li class="product_listing"><p style="font-size:11pt;" class="item_name">Lady Tee – <p class="shirt_style">Seafoam</p></a> <p class="product_body">A Proper Lady is classy yet bold and will speak her mind. Printed on 2102 American Apparel tee.</p></li>


 <li class="product_listing"><p class="product_title">Details <p class="product_body_details">Hand-Drawn<br>Hand-Crafted<br>Made in the USA</br>100% cotton</p></li>

 <li class="product_listing"><p class="product_title_social">Social<p class="product_body_social"><img src="/images/social.png" width="100"><br><img src="/images/materials.png" width="100"></p></li>

<li class="product_listing"><p class="product_title"><img class="roast_title" src="/images/roast.png" width="80"></p></li>
<img class="arrow_caret"src="/images/caret.png" width="20">
<div class="select-wrapper">
      <select class="item_size">
          <option value="Mild"> Mild </option>
          <option value="Medium"> Medium </option>
          <option value="Extra Bold"> Extra Bold </option>
      </select>
      
  </div>
</div>
  <p class="size_check">- Check your size first -</p>
<a class="item_add" href="javascript:;" data-dismiss="modal" ><img class="cart_add" src="/images/cart_add.png" width="120"></a>
</div>
   </div>
      </div>
          </div>


<!-- MODAL 5  -->

<div class="simpleCart_shelfItem">
<span class="item_price">$24.99</span>
<div id="myModal4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">

<div id="product_content">
  <ul class="modal-content-list">
    <li><img src="/images/beanboy_sub1.png" alt="" /></li>
      <li><img src="/images/beanboy_sub3.png" alt="" /></li>
        <li><img src="/images/beanboy_sub2.png" alt="" /></li>
         </ul>

<div class="modal-content-main">
  <img src="/images/beanboy_main.png" alt=""/>
    </div>
<div class="product_description">

  <li class="product_listing"><p class="item_name">Bean Boy</a> <p class="product_body">Bean Boy has finally been brewed on his own tee! Gaze at all that happiness, but little do you know his cloud is lethal.</p></li>


 <li class="product_listing"><p class="product_title">Details <p class="product_body_details">Hand-Drawn<br>Hand-Crafted<br>Made in the USA</br>100% cotton</p></li>

 <li class="product_listing"><p class="product_title_social">Social<p class="product_body_social"><img src="/images/social.png" width="100"><br><img src="/images/materials.png" width="100"></p></li>

<li class="product_listing"><p class="product_title"><img class="roast_title" src="/images/roast.png" width="80"></p></li>
<img class="arrow_caret"src="/images/caret.png" width="20">
<div class="select-wrapper">
      <select class="item_size">
          <option value="Mild"> Mild </option>
          <option value="Medium"> Medium </option>
          <option value="Extra Bold"> Extra Bold </option>
      </select>
      
  </div>
</div>
  <p class="size_check">- Check your size first -</p>
<a class="item_add" href="javascript:;" data-dismiss="modal" ><img class="cart_add" src="/images/cart_add.png" width="120"></a>
</div>
   </div>
      </div>
          </div>

<!-- MODAL 6  -->

<div class="simpleCart_shelfItem">
<span class="item_price">$26.50</span>
<div id="myModal5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">

<div id="product_content">
  <ul class="modal-content-list">
    <li><img src="/images/gordonwhite_sub1.png" alt="" /></li>
      <li><img src="/images/sub.png" alt="" /></li>
        <li><img src="/images/gordonwhite_sub2.png" alt="" /></li>
         </ul>

<div class="modal-content-main">
  <img src="/images/gordonwhite_main.png" alt=""/>
    </div>
<div class="product_description">

  <li class="product_listing"><p class="item_name">Gordon White</a> <p class="product_body">Gordon just woke up but accidentally crushed his alarm clock during hibernation, will he make it to work on time? Where is his shirt?</p></li>


 <li class="product_listing"><p class="product_title">Details <p class="product_body_details">Hand-Drawn<br>Hand-Crafted<br>Made in the USA</br>100% cotton</p></li>

 <li class="product_listing"><p class="product_title_social">Social<p class="product_body_social"><img src="/images/social.png" width="100"><br><img src="/images/materials.png" width="100"></p></li>

<li class="product_listing"><p class="product_title"><img class="roast_title" src="/images/roast.png" width="80"></p></li>
<img class="arrow_caret"src="/images/caret.png" width="20">
<div class="select-wrapper">
      <select class="item_size">
          <option value="Mild"> Mild </option>
          <option value="Medium"> Medium </option>
          <option value="Extra Bold"> Extra Bold </option>
      </select>
      
  </div>
</div>
  <p class="size_check">- Check your size first -</p>
<a class="item_add" href="javascript:;" data-dismiss="modal" ><img class="cart_add" src="/images/cart_add.png" width="120"></a>
</div>
   </div>
      </div>
          </div>


<!-- MODAL 7  -->

<div class="simpleCart_shelfItem">
<span class="item_price">$26.50</span>
<div id="myModal6" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">

<div id="product_content">
  <ul class="modal-content-list">
    <li><img src="/images/gordon_grey_sub1.png" alt="" /></li>
      <li><img src="/images/gordon_grey_sub2.png" alt="" /></li>
        <li><img src="/images/gordon_grey_sub3.png" alt="" /></li>
         </ul>

<div class="modal-content-main">
  <img src="/images/gordon_grey_main.png" alt=""/>
    </div>
<div class="product_description">

  <li class="product_listing"><p class="item_name">Gordon Grey</a> <p class="product_body">Gordon just woke up but accidentally crushed his alarm clock during hibernation, will he make it to work on time? Where is his shirt?</p></li>


 <li class="product_listing"><p class="product_title">Details <p class="product_body_details">Hand-Drawn<br>Hand-Crafted<br>Made in the USA</br>100% cotton</p></li>

 <li class="product_listing"><p class="product_title_social">Social<p class="product_body_social"><img src="/images/social.png" width="100"><br><img src="/images/materials.png" width="100"></p></li>

<li class="product_listing"><p class="product_title"><img class="roast_title" src="/images/roast.png" width="80"></p></li>
<img class="arrow_caret"src="/images/caret.png" width="20">
<div class="select-wrapper">
      <select class="item_size">
          <option value="Mild"> Mild </option>
          <option value="Medium"> Medium </option>
          <option value="Extra Bold"> Extra Bold </option>
      </select>
      
  </div>
</div>
  <p class="size_check">- Check your size first -</p>
<a class="item_add" href="javascript:;" data-dismiss="modal" ><img class="cart_add" src="/images/cart_add.png" width="120"></a>
</div>
   </div>
      </div>
          </div>


<!-- MODAL 8  -->

<div class="simpleCart_shelfItem">
<span class="item_price">$24.99</span>
<div id="myModal7" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">

<div id="product_content">
  <ul class="modal-content-list">
    <li><img src="/images/logo_bean_sub1.png" alt="" /></li>
      <li><img src="/images/logo_bean_sub2.png" alt="" /></li>
        <li><img src="/images/logo_bean_sub3.png" alt="" /></li>
         </ul>

<div class="modal-content-main">
  <img src="/images/logo_bean_main.png" alt=""/>
    </div>
<div class="product_description">

  <li class="product_listing"><p class="item_name">Logo Bean</a> <p class="product_body">This brew is perfect for the cool, calm, and collected coffee lover; it goes with everything!</p></li>


 <li class="product_listing"><p class="product_title">Details <p class="product_body_details">Hand-Drawn<br>Hand-Crafted<br>Made in the USA</br>100% cotton</p></li>

 <li class="product_listing"><p class="product_title_social">Social<p class="product_body_social"><img src="/images/social.png" width="100"><br><img src="/images/materials.png" width="100"></p></li>

<li class="product_listing"><p class="product_title"><img class="roast_title" src="/images/roast.png" width="80"></p></li>
<img class="arrow_caret"src="/images/caret.png" width="20">
<div class="select-wrapper">
      <select class="item_size">
          <option value="Mild"> Mild </option>
          <option value="Medium"> Medium </option>
          <option value="Extra Bold"> Extra Bold </option>
      </select>
      
  </div>
</div>
  <p class="size_check">- Check your size first -</p>
<a class="item_add" href="javascript:;" data-dismiss="modal" ><img class="cart_add" src="/images/cart_add.png" width="120"></a>
</div>
   </div>
      </div>
          </div>

<!-- MODAL 9 -->

<div class="simpleCart_shelfItem">
<span type="hidden" class="item_price">$32</span> 
<div id="myModal8" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">

<div id="product_content">
  <ul class="modal-content-list">
    <li><img src="/images/mustardsub1.png" alt="" /></li>
      <li><img src="/images/mustardsub2.png" alt="" /></li>
        <li><img src="/images/mustardsub3.png" alt="" /></li>
         </ul>

<div class="modal-content-main">
  <img src="/images/mainmustard.png" alt=""/>
    </div>
<div class="product_description">

  <li class="product_listing"><p style="font-size:11pt;" class="item_name">Sir Flufffkins - <p class="shirt_style">mustard</p></a> <p class="product_body">Sir Leonard Fluffkins III is a cat of extraordinary taste with bold style; he dabbles in only the finest of things. Printed on the soft 2001 American Apparel tee.</p></li>

 <li class="product_listing"><p class="product_title">Details <p class="product_body_details">Hand-Drawn<br>Hand-Crafted<br>Made in the USA</br>100% cotton</p></li>

 <li class="product_listing"><p class="product_title_social">Social<p class="product_body_social"><img src="/images/social.png" width="100"><br><img src="/images/materials.png" width="100"></p></li>

<li class="product_listing"><p class="product_title"><img class="roast_title" src="/images/roast.png" width="80"></p></li>
<img class="arrow_caret"src="/images/caret.png" width="20">
<div class="select-wrapper">
      <select class="item_size">
          <option value="Mild"> Mild </option>
          <option value="Medium"> Medium </option>
          <option value="Extra Bold"> Extra Bold </option>
      </select>
      
  </div>
</div>
  <p class="size_check">- Check your size first -</p>
<a class="item_add" href="javascript:;"  data-dismiss="modal" ><img class="cart_add" src="/images/cart_add.png" width="120"></a>
</div>

    </div>
  </div>
  </div>

 	